server:
  port: 8082

spring:
  application:
    name: forms-api
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  jackson:
    default-property-inclusion: non_null
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  main:
    banner-mode: off
  jpa:
    open-in-view: false
  flyway:
    enabled: true
  profiles:
    default: "local"
    group:
      prod:
      - "azure"
      preprod:
      - "azure"

gcp:
  buckets:
    static-pdfs:
      bucket-name: ${STATIC_PDFS_BUCKET_NAME:nav-forms-api-static-pdfs-local}

management:
  endpoints:
    web:
      exposure:
        include: prometheus
  prometheus:
    metrics:
      export:
        enabled: true
